.ant-popconfirm-buttons .ant-btn:nth-child(2){
    background-color: blueviolet;
}
/* .ant-btn css-dev-only-do-not-override-1rqnfsa ant-btn-primary ant-btn-sm{
    background-color: blueviolet;
} */
.ul {
    opacity: 0;
    cursor: default;
}